@import "sass/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $PageBGColor;
    font-size: 12px;

}

.container {
    margin: 50px auto;
    /*om de blok te centreren*/
    height: 90vh;
    width: 90vw;
    background-image: linear-gradient(to bottom left, $CardBGGradColor, $CardColor);
    padding: 25px;

    &__testimonial {
        height: 100%-$FooterHeight;
        width: 100%;
        background: $CardColor;
        text-align: justify;
        line-height: 1.5em;
        font-size: 1.5em;
        font-family: sans-serif;
        border-radius: $CardRadius $CardRadius 0 0;
        /* border-corners aan onderkant scherp om aan te sluiten op footer */
        padding: 50px 40px;
    }

    &__footer {
        height: $FooterHeight;
        /* wat overblijft van testimonial */
        width: 100%;
        background-color: $footerBGColor;
        border-radius: 0 0 $CardRadius $CardRadius;

        &:hover {
            background: $footerHoverColor;
        }
        /* border-corners aan bovenkant scherp om aan te sluiten op testimonial */
        &__centered-items {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            top: -($PhotoHeight/2 + $PhotoMargin);
            /* schuift hele div incl. foto naar boven voor de helft van de foto plus margin. */
            &__profile {
                height: $PhotoHeight;
                margin: $PhotoMargin;
                border-radius: 50%;
                border: solid 5px $footerTextColor;
            }

            &__user-details {
                &__myName {
                    margin: 10px;
                    font-family: sans-serif;
                    color: $footerTextColor;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
            }

            &__link {
                margin: 10px;
                font-family: sans-serif;
                color: $footerTextColor;
                letter-spacing: 3px;
                text-decoration: none;
            }
        }
    }
}
 @import "sass/mediaQ";
