$PageBGColor: #c3cfe2;

$CardColor: white;
$CardBGGradColor: lightsteelblue;
$CardTextColor: black;

$footerBGColor:#686de0;
$footerHoverColor:purple;
$footerTextColor:$CardColor;

$CardRadius: 20px;

$FooterHeight: 25%;
$PhotoHeight: 150px;
$PhotoMargin: 10px;
